.title{
  text-align: center;
  font: Times New Roman sans-serif solid;
}

.items{
  border: 5px solid;

}

.day{
  border: lightblue solid;
  height: 300px;
  width: 275px;
  display: inline-block;
  border-radius: 30;
  flex-direction: column;
  padding-left: 10px;
  justify-content: space-around;
  /* align-items: center; */
}


.week{
  /* border: rgb(145, 255, 0) solid; */
  height: 300px;
  width: 100%;
  display: flex;
  border-radius: 30px;
  flex-direction: row;
  padding-left: 10px;
  text-align: center;
  justify-content: start;
  align-items: center;
}

